.title{
  color: white;
}
.mainText{
  color:white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: hsl(39, 90%, 89%);

}

main {
  flex: 1 0 auto;
}
img.animated-gif{
  width: 1250px;
  height: auto;
}
h2{
  color: black;
  text-align: center;
}